.ant-card strong {
  font-size: 1.71053rem;
  font-weight: bold;
  line-height: 1.2;
}
.ant-card {
  border: solid 2px #e5e5e5;
}

.percent {
  margin-left: 10px;
}

.ant-card span {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
}

@media screen and (min-width: 600px) and (max-width: 1599px) {
  .ant-card-body {
    text-align: center;
  }
  .ant-card-head {
    text-align: center;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .ant-card strong {
    font-size: 1.31053rem;
  }
}
